:root {
  --accent-color: #28a8ff;
  --sidebar-color: #323638;
}

#root {
  display: flex;
  justify-content: center;
  margin-top: 20px;

}

.page {
  display: grid;
  width: 21cm;
  min-width: 21cm;
  min-height: 29.685cm;
  max-height: 29.685cm;
  grid-template-columns: 45% 55%;
  grid-template-rows: 20% 80%;
  position: relative;
  box-shadow: 3px 3px 6px 0px rgb(0 0 0 / 25%);
  margin-bottom: 20px;
}

.outer-banner {
  grid-column: 1 / 3;
  position: absolute;
  top: 60px;
  width: 100%;
}

#edit-fields {
  background-color: white;
  position: absolute;
  left: 50%;
  margin-left: -25%;
  padding: 20px;
  border-radius: 10px;
  margin-top: 5px;
  box-shadow: 3px 3px 6px 0px rgb(0 0 0 / 40%);


}

#edit-fields::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.updateFieldForm {
  display: flex;
  flex-direction: column;
  width: 330px;
  gap: 10px;
}

#banner {
  background-color: var(--accent-color);
  height: 140px;
  display: flex;
  align-items: center;
  box-shadow: 0px 5px 7px 0px rgb(0 0 0 / 25%)
}



.profile-pic {
  height: 180px;
  width: 180px;
  margin-left: 30px;
  border-radius: 100px;
  object-fit: cover;
  box-shadow: 3px 3px 6px 0px rgb(0 0 0 / 25%);
  transition: opacity .2s ease-in-out;

}

#profilePicInput {
  display: none;
}

.edit-pic-container {
  opacity: 1;
  transition: opacity .2s ease-in-out;
  position: relative;
}

.profile-label {
  color: white;
  transition: opacity .2s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 45%;
  left: 50%;
}

.edit-pic-container:hover .profile-label {
  opacity: 1;
  cursor: pointer;
}

.edit-pic-container:hover .profile-pic {
  opacity: 0.75;
  cursor: pointer;
}


#name-container {
  margin-left: 30px;
  width: 65%
}

.updateableField:hover,
.ck-blurred:hover {
  cursor: pointer;
  background-color: #d3d3d373;
  border-radius: 5px ! important;


}

.sidebar {
  background-color: var(--sidebar-color);
  grid-row: 1/3;
  padding: 25px;
}

.main-content {
  padding: 25px;
}

.sidebar-page-one,
.main-content-page-one {
  padding-top: 220px;
}

.sidebar-section {
  color: white;
}

.remove-margin {
  margin-bottom: 0px;
}

.main-content {
  grid-row: 1/3;
}

.employment-section {
  padding-bottom: 40px;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;

}

h1,
h2,
.h1,
.h2 {
  letter-spacing: 3px;
  background: none;
  border: none;
  padding: 3px;
  width: 100%;
}

h1,
.h1 {
  color: white;
  font-size: 35px;
  font-family: 'Secular One', monospace;
  margin-bottom: 0;
  margin-top: 23px;
}

h3,
.h3 {
  color: var(--accent-color);
  font-family: 'Secular One', monospace;
  letter-spacing: 2px;
}

h2,
.h2 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 15px;
}

h4,
.h4 {
  margin: 0px;
  width: 100%;
  background: none;
  border: none;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 700;
}

h5,
.h5 {
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 15px;
  width: 100%;
  background: none;
  border: none;
  color: var(--accent-color);
}

.h4,
h4,
h5,
.h5,
p {
  font-family: 'Lato', sans-serif;
}


textarea {
  resize: none;
  background: none;
  border: none;
  width: 100%;
}


.ck {
  padding: 0px !important;
}

p,
ul {
  margin: 0px !important;
  font-size: 12px;
}

ul {
  padding-left: 15px;
}

.test {
  background-color: black;
  height: 40cm;
}

.contact-container {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 5px;
}

.wrapper {
  width: 100%;
}

.employment-section>.wrapper {
  width: 80%;
}

.contact-container>.wrapper>p,
.contact-container>.wrapper>input {
  font-size: 13px;
  background: none;
  color: white;
  width: 100%;
  padding: 2px;
  border: none;
}

.delete-section {
  border: none;
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  position: absolute;
  left: 90%;
  display: none;
  font-size: 15px;
  border-radius: 5px;
  background-color: var(--accent-color);
  color: red;
  background-color: white;
  border: 1px solid red;
}

.delete-section:hover {
  box-shadow: 3px 3px 6px 0px rgb(0 0 0 / 25%);
  color: white;
  background-color: red;
}

.employment-section:hover .delete-section {
  display: block
}